.about {
  margin-top: 80px;
	.brand_wrap {
		text-align: center;
		.brand_header {
			h2 {
				padding: 30px 0 20px;
        font-size: 1.3rem;
			}
			p {
				color: #333;
				font-size: 0.9rem;
				padding-bottom: 30px;
			}
		}
    .nav {
			height: 50px;
			background-color: $gray;
      margin-bottom: 30px;
			ul {
				display: flex;
				justify-content: space-evenly;
				li {
					line-height: 50px;
					padding-bottom: 20px;
					a {
						padding-bottom: 19px;
            font-size: 0.7rem;
					}
          &:hover a {
						color: $red;
						border-bottom: 2px solid $red;
						transition: .4s;
          }  
				}
			}
		}
  }
  .better_wrap {
    text-align: center;
    margin-bottom: 10px;
    .better_title {
      width: 65%;
      margin: 0 auto;
    }
    .better_txt {
      margin: 10px 0 30px;
      text-align: center;
      h3 {
        line-height: 3;
      }
      p {
        line-height: 1.4;
        font-size: 0.75rem;
        color: #333;
      }
    }
  }
  .identity_wrap {
    text-align: center;
    margin-bottom: 10px;
    .identity_txt {
      h3 {
        line-height: 3;
      }
      p {
        line-height: 1.4;
        font-size: 0.75rem;
        color: #333;
      }
    }
    video {
      width: 100%;
    }
  }
  .color_wrap {
    text-align: center;
    margin-bottom: 60px;
    padding: 20px;
    overflow: hidden;
    .color_txt {
      margin-bottom: 30px;
      h3 {
        line-height: 3;
      }
      p {
        line-height: 1.4;
        font-size: 0.75rem;
        color: #333;
      }
    }
    .color_list {
      ul {
        display: flex;
        li {
          img {
            
          }
        }
      }
    }
  }
}